<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Blog Post</h1>

    <% if (errors && errors.length > 0) { %>
        <ul style="color: red;">
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <input name="title" value="<%= oldInput?.title || post?.title %>"><br><br>
        <textarea name="content" rows="6" required><%= oldInput?.content || post?.content %></textarea><br><br>
        <button type="submit">Update Post</button>
    </form>
</body>
</html>